body{
    font-family: 'Ubuntu', sans-serif;;
}
.navbar-nav{
    margin-left: auto;
    font-family: 'IBM Plex Serif', serif;
    font-weight: bold;
}
#title{
    background-color: #ff4c68;
    color: #fff;

}
.row h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}
.container-fluid{
    padding: 3% 15% 7%;
}
/* Navbar */
.navbar{
    padding: 0 0 2.5rem;
}

.navbar-brand{
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}
/* Download buttons */
.download-button{
    margin: 5% 3% 5% 0;
}

/* Title image */
.title-image{
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* features  section */

#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.feature-box{
    text-align: center;
    padding: 5%;
}
h3{
    font-family: 'IBM Plex Serif', serif;
    font-weight: bold;
}
p{
    color: #8f8f8f;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;

}

.icon:hover{
    color: #ff4c68;
}

/* testimonials */

#testimonials{
    padding: 7% 15%;
    text-align: center;
    background-color: #ef8172;
    color: #fff;
    font-family:'Montserrat', sans-serif ;
    font-weight: bold;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item{
    padding: 7% 15%;
}
  

  /* pricing */
#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
}

#pricing h2{
    font-family: 'Russo One', sans-serif;
}

/* call to action */

#cta{
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15%;
    color: #fff;
}

#cta h3{
    font-family:'Russo One', sans-serif; 
    font-size: 3.5rem;
    line-height: 1.5;
}

/* footer */
#footer{
    padding: 7% 15%;
    text-align: center;
}
.social-icon{
    margin: 20px 10px;
}
@media (max-width:1050px){
    .title-image{
        position: static;
        width: 60%;
        transform: rotate(0);
    }

    #title{
        text-align: center;
        padding: 80px;
        
    }
    

}